PORT=3333
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=3d_farm
HORAS_OPERADOR_DIA=4
JORNADA_INICIO_HORA=8
JORNADA_HORAS_DIA=8
ETA_BUFFER_PERCENTUAL=0.20
FATOR_INTERFERENCIA_PRIORIDADE=0.10
SETUP_MEDIO_FARM_HORAS=0.30
